<div class='text-center'>
  <img
    class='profile-img'
    src='/avatar.jpg'
    alt='Extra large avatar'
  />
  <a
    href='https://www.instagram.com/aryaintrn_/'
    class='name'
    >INTRN</a
  >
</div>