---
import "@styles/global.css"
---

<div class='ava-text'>
  <img
    class='profile-img'
    src='/avatar.jpg'
    alt='Extra large avatar'
  />
  <a
    href='https://www.instagram.com/aryaintrn_/'
    class='name'
    >ARYA INTARAN</a
  >
</div>