---
import "@styles/FeaturedCardStyle.css"
import { Icon } from "astro-icon"
const { featuredCardIcon, featuredCardTitle, featuredCardLink } = Astro.props
---

<div class='col-1'>
  <a class='social' href={featuredCardLink}>
    <div class='social-icon'>
      <Icon class='h-24 p-2' name={featuredCardIcon} />
    </div>
    <div class='social-txt'>
      <!-- <hr class='line' /> -->

      <p class='social-text'>{featuredCardTitle}</p>
    </div>
  </a>
</div>